@import "bootstrap/bootstrap.less";


body {
  padding-top: 40px;
}

.content {}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid @grayLighter;
}

form.article {
  textarea[name=Text] {
    font-family: "Courier New", Courier, monospace;
    font-size: 100%;
    color: @black;
  }
}
