{{define "contentTitle"}}{{template "title"}}{{end}}

{{define "content"}}
<form method="post" enctype="multipart/form-data" action="{{urlFor "articleCreate" | blobstoreUploadURL .}}" class="well article">
  {{render .form.Title "class" "span6"}}
  {{render .form.Text "class" "span6" "rows" "20"}}
  {{render .form.IsPublic}}

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{{template "title" .}}</button>
  </div>
</form>

<div class="well">
  <div class="page-header">
    <h1 id="titleHTML"></h1>
  </div>
  <div id="textHTML"></div>
</div>
{{end}}

{{define "cssExtra"}}
<link rel="stylesheet" type="text/css" href="/static/codemirror/lib/codemirror.css">
{{end}}

{{define "jsExtra"}}
<script src="/static/codemirror/lib/codemirror.js"></script>
<script src="/static/codemirror/mode/xml/xml.js"></script>
<script src="/static/codemirror/mode/markdown/markdown.js"></script>

<script src="/static/js/markdown.js"></script>
<script src="/static/js/article.js"></script>
<script>
  var settings = {
    MARKDOWN_PREVIEW_URL: "{{urlFor "markdownPreview"}}"
  }
</script>
{{end}}
