<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<title>{{template "title" .}}</title>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/screen.css" />
</head>

<body>

<div class="content">
  <ul class="tabs">
    <li class="active"><a href="{{urlFor "home"}}">Home</a></li>
    <li><a href="{{urlFor "articleCreate"}}">Add article</a></li>
    <li><a href="{{urlFor "about"}}">About</a></li>
  </ul>

  {{template "content" .}}
</div>

</body>

</html>
