<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<title>{{template "title" .}}</title>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/screen.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/menu.js"></script>
</head>

<body>

<div class="topbar-wrapper" style="z-index: 5;">
  <div class="topbar" data-dropdown="dropdown" >
    <div class="topbar-inner">
      <div class="container">
        <ul class="nav" id="primary_nav">
          <li><a href="{{urlFor "home"}}">Home</a></li>
          <li><a href="{{urlFor "articleCreate"}}">Add article</a></li>
          <li><a href="{{urlFor "about"}}">About</a></li>
        </ul>
        <ul class="nav secondary-nav">
          {{if .user.IsAuthenticated}}
            <li><a href="">{{.user.Name}}</a></li>
            <li><a href="{{logoutUrl . "/"}}" class="logout">log out</a></li>
          {{else}}
            <li><a href="{{loginUrl . "/"}}">Login</a></li>
          {{end}}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="content">
  {{template "content" .}}
</div>

</body>

</html>
