{{define "title"}}Go/Python/Django developer{{end}}

{{define "contentTitle"}}Vladimir Mihailenco - {{template "title" .}}{{end}}

{{define "content"}}
<ul>
  <li>Vladimir Mihailenco</li>
  <li>Moldova, Chisinau</li>
  <li><a href="mailto:vladimir.webdev@gmail.com">vladimir.webdev@gmail.com</a></li>
  <li>Skype: vlmich</li>
  <li>Languages: Russian (first), English (fluent written, basic verbal)</li>
  <li><a href="http://stackoverflow.com/users/268774/vladimir-mihailenco">Stack Overflow</a></li>
  <li><a href="http://www.odesk.com/users/~~1834eb531aff2a49">oDesk</a></li>
  <li><a href="http://github.com/vmihailenco/">GitHub</a></li>
  <li><a href="http://bitbucket.org/vmihailenco/">BitBucket</a></li>
</ul>

<p>I am independent Go/Python/Django developer and I am looking for opportunity to build website from the ground up for you.</p>

<h2 id="skills">Skills</h2>

<ul>
  <li>Python, Golang, JavaScript/Coffee, CSS/SCSS/Less.</li>
  <li>Django, Flask, Tornado, jQuery, Gorilla-toolkit, Twitter Bootstrap.</li>
  <li>Nginx, Gunicorn, PostgreSQL, MySQL, Redis, Celery, Supervisord.</li>
  <li>Git, Mercurial.</li>
  <li>Google App Engine, Amazon EC2.</li>
  <li>Fabric, Chef.</li>
</ul>

<h2 id="projects">Projects</h2>

<ul>
  <li>
    <a href="http://pypi.python.org/pypi/django-fabdeploy-plus/">Fabdeploy-plus</a>
    (Python, Fabric) -
    toolkit that can deploy your Python-based site using stack of Nginx, Gunicorn, WSGI and Supervisord.
  </li>
  <li>
    <a href="http://pypi.python.org/pypi/ndbpager/">NDB pager</a> - pager for Google Appengine NDB.
  </li>
  <li>
    <a href="https://github.com/vmihailenco/gforms/">Golang Forms</a> - simple forms implementation for Golang.
  </li>
</ul>

<h2 id="sources">Bits of code</h2>

<ul>
  <li>
    <a href="https://github.com/vmihailenco/goblog">Blog in Golang</a>
    (Golang, gorilla-toolkit, Google App Engine) -
    an attempt to write some Golang code.
  </li>
  <li>
    <a href="/articles/1001/batch-operations-support-for-django-nonrel/">Batch operations support for django-nonrel</a>
    (Python, Django) -
    patch that adds batch operations support for Django-nonrel and Google App Engine.
  </li>
  <li>
    <a href="http://bitbucket.org/vmihailenco/appengine-cdn">Instant CDN on Google App Engine</a>
    (Flask, werzeug, jinja2, Google App Engine) -
    this web service will retrieve the resource located on your server, cache it on Google App Engine servers and serve it to your users with smart cache headers.
  </li>
  <li>
    <a href="http://bitbucket.org/vmihailenco/loutontheweb.co.cc">Blog</a>
    (Django) -
    blog with posts, links, feeds.
  </li>
  <li>
    <a href="http://openid-oauth-consumer.appspot.com/">OpenID and OAuth consumer</a>
    (Flask, werzeug, jinja2, Google App Engine) -
    OpenID (Google, Yahoo) and OAuth (Facebook Connect) consumer for Google App Engine.
  </li>
  <li>
    <a href="http://bitbucket.org/vmihailenco/sortmusic/src/tip/sortmusic.py">sortmusic.py</a>
    (Python) -
    simple Python script to sort your music collection.
  </li>
  <li>
    <a href="https://gist.github.com/vmihailenco">Public gists</a>.
  </li>
</ul>
{{end}}
